<h1>New user</h1>

<% form_for :user, :url => {:controller => :users, :action => :create, :method => :post, :instance => params['instance'], :organism => params['organism']} do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>
        <%= f.label :username %>:
      </td>
      <td>
        <%= f.text_field :username %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :role, "Role" %>:
      </td>
      <td>
        <%= 
          f.select(:role, @roles)
         %>
      </td>
    </tr>
  </table>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
