<%= stylesheet_link_tag "table_rows", :media => "all" %>

<h1>Diagnostics for <%= params[:instance] %> / <%= params[:organism] %></h1>

<h2>Object types</h2>

<table cellpadding="3">
  <tr>
    <th align="left">Object type</th>
    <th align="left">Connection handler ID</th>
    <th align="left">Connection pool hash ID</th>
    <th align="left">Connection pool IDs</th>
 </tr>

<% row_number = 0 %>

<% @primary_object_types.each do |object_type| %>
<% 
  row_number += 1
  style = (row_number % 2 == 0) ? "table_row_even" : "table_row_odd"
%>

  <tr class="<%= style %>">
    <td>
      <%=h object_type.name %>
    </td>

    <td>
      <%=h object_type.connection_handler.object_id %>
    </td>

    <td>
      <%=h object_type.connection_handler.connection_pools.object_id %>
    </td>

    <td>
      <%=h object_type.connection_handler.connection_pools.values.map {|x| x.object_id}.join(", ") %>
    </td>
  </tr>
<% end %>

</table>

<h2>Connection pools</h2>

<table cellpadding="3">
  <tr>
    <th align="left">Connection Pool ID</th>
    <th align="left">Connection ID</th>
    <th align="left">Current database</th>
  </tr>

<% row_number = 0 %>

<% @connection_pools.each do |pool| %>
<% 
  row_number += 1
  style = (row_number % 2 == 0) ? "table_row_even" : "table_row_odd"
%>

  <tr class="<%= style %>">
     <td>
      <%=h pool.object_id %>
    </td>

   <td>
      <%=h pool.connection.object_id %>
    </td>

    <td>
      <%=h pool.connection.current_database %>
    </td>
  </tr>
<% end %>

</table>
