<%= stylesheet_link_tag "table_rows", :media => "all" %>

<h2>Projects for <%=h params['instance'] %> / <%=h params['organism'] %> </h2>

<table cellpadding="3">
  <tr>
    <th align="left">Name</th>
    <th align="left">Assembly</th>
    <th align="right">Total length</th>
    <th align="right">No. of contigs</th>
    <th align="right">Max. length</th>
    <th align="right">No. of reads</th>
    <th align="center">Last updated</th>
    <th align="center">Owner</th>
    <th align="center" colspan="2">Actions</th>
  </tr>

<% @row_number = 0 %>

<% @projects.each do |project| %>
<% 
  @row_number += 1
  @style = (@row_number % 2 == 0) ? "table_row_even" : "table_row_odd"
%>

  <tr class="<%= @style %>">
    <td>
      <%=
        link_to project.name, :instance => params[:instance],
                              :organism => params[:organism],
                              :action => 'show',
                              :id => project
      %>
    </td>

    <td>
      <%=
        link_to project.assembly.name, :instance => params[:instance],
                                       :organism => params[:organism],
                                       :controller => 'assemblies',
                                       :action => 'show',
                                       :id => project.assembly
      %>
    </td>

    <% @summary = project.current_contigs_summary %>

    <td align="right">
      <%=h @summary['total_length'] %>
    </td>

    <td align="right">
      <%=h @summary['contig_count'] %>
    </td>

    <td align="right">
      <%=h @summary['max_length'] %>
    </td>

    <td align="right">
      <%=h @summary['read_count'] %>
    </td>

    <td>
      <%=h @summary['last_update'] %>
    </td>

    <td align="center">
      <%=h project.owner.nil? ? '' : project.owner.full_name %>
    </td>
 
    <td>
      <%= 
         link_to 'List contigs', :instance => params[:instance], :organism => params[:organism], :action => 'contigs', :id => project
      %>
    </td>

   <td>
      <%=
         link_to 'Export contigs', :instance => params[:instance], :organism => params[:organism], :action => 'export', :id => project, :format => "text"
       %>
    </td>

  </tr>
<% end %>
</table>

<hr />

<% if @me.can_create_project? %>
<%=
   link_to 'New project', :instance => params[:instance],
                          :organism => params[:organism],
                          :assembly => params[:assembly_id],
                          :action => 'new'
%>
<% else %>
New project
<% end %>
