<h1>Current location of tag <%=h params['id'] %>  </h1>

<table cellpadding="3">
  <tr>
    <td>Tag type:</td>
    <td><%=h @tag['tagtype'] %></td>
  </tr>
  <tr>
    <td>Systematic ID:</td>
    <td><%=h @tag['systematic_id'] %></td>
  </tr>
  <tr>
    <td>Comment</td>
    <td><%h= @tag['tagcomment'] %></td>
  </tr>
</table>

<table cellpadding="3">
  <tr>
    <th align="left">Mapping ID</th>
    <th align="right">Contig ID</th>
    <th align="right">Start</th>
    <th align="right">End</th>
    <th align="center">Strand</th>
  </tr>

<% @mappings.each do |@mapping| %>
  <tr>
    <td>
      <%=h @mapping['id'] %>
    </td>

    <td align="right">
      <%=h @mapping['contig_id'] %>
    </td>

    <td align="right">
      <%=h @mapping['cstart'] %>
    </td>

    <td align="right">
      <%=h @mapping['cfinal'] %>
    </td>

    <td align="center">
      <%=h @mapping['strand'] %>
    </td>
  </tr>
<% end %>
</table>

<br />
