<h1>New contig tag</h1>

<% form_for(@contig_tag) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>Tag type:</td>
      <td><%= f.text_field :tagtype, :maxlength => 4 %></td>
    </tr>

    <tr>
      <td>Systematic ID:</td>
      <td><%= f.text_field :systematic_id %></td>
    </tr>

    <tr>
      <td>Comment:</td>
      <td><%= f.text_field :tagcomment %></td>
    </tr>
  </table>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contig_tags_path %>
