<h1>New project</h1>

<% form_for :project, :url => {:controller => :projects, :action => :create, :method => :post, :instance => params['instance'], :organism => params['organism']} do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>
        <%= f.label :name %>:
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :assembly, "Assembly" %>:
      </td>
      <td>
        <%= 
          @assemblies = Assembly.find(:all, :order => "name")
          f.collection_select(:assembly_id, @assemblies, :assembly_id, :name)
         %>
      </td>
    </tr>
  </table>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%# link_to 'Back', projects_path %>
