<h2>Assemblies for <%= params['instance'] %> / <%= params['organism'] %> </h2>

<br />

<table cellspacing="20">

  <tr bgcolor="yellow">
    <th align="left">Name</th>
    <th align="right">No. of projects</th>
    <th align="right">Total no. of contigs</th>
    <th align="right">Total no. of reads</th>
    <th align="right">Total length</th>
  </tr>

  <% @assemblies.each do |assembly| %>
    <tr>
      <td align = "left">
        <%=h assembly.name %>
      </td>

      <% @summary = assembly.current_contigs_summary %>
      <% @project = assembly.projects_summary %>

      <td align = "right">
        <%= @project['project_count'] %>
      </td>

      <td align = "right">
        <%= @summary['contig_count'] %>
      </td>

      <td align = "right">
        <%= @summary['read_count'] %>
      </td>

      <td align = "right">
        <%= @summary['total_length'] %>
      </td>

      <td bgcolor='lightgreen'>
        <%= link_to 'Details', :instance => params[:instance], 
                               :organism => params[:organism], 
                               :action => 'show',
                               :id => assembly %>
      </td>

      <td bgcolor='white'>
        <%= link_to 'Projects', :controller => 'projects',
                                :action => 'index',
                                :instance => params[:instance], 
                                :organism => params[:organism], 
                                :assembly_id => assembly %>
      </td>

      <td bgcolor='orange'>
        <%= link_to 'Edit', :instance => params[:instance], 
                            :organism => params[:organism], 
                            :action => 'edit',
                            :id => assembly %>
      </td>

    </tr>

  <% end %>

</table>

<br />


<table cellspacing="20">
<tr><td align="left" bgcolor='lightblue'>
<%= link_to 'New assembly', :instance => params[:instance], 
                            :organism => params[:organism], 
                            :action => 'new' %>
</td></tr>
</table>
