
<h2>Assembly <%=h @assembly %></h2>
      
<% @project = @assembly.projects_summary %>

<% @pcount = @project['project_count'] %> 

<table cellspacing="10">

  <tr>

    <td align="left">
      <b>Assembly name:</b>
    </td> 
    <td>
      <%=h @assembly.name %>
    </td>

  </tr>

  <tr>

    <td align="left">
      <b>Assembly ID:</b>
    </td> 
    <td>
      <%=h @assembly.id %>
    </td>

  </tr>


  <tr>

    <td align="left">
      <b>Chromosome:</b>
    </td> 
    <td>
      <%=h @assembly.chromosome %>
    </td>

  </tr>


  <tr>

    <td align="left">
      <b>Origin:</b>
    </td> 
    <td>
      <%=h @assembly.origin %>
    </td>

  </tr>

  <tr>

    <td align="left">
      <b>Size (Mbase):</b>
    </td> 
    <td>
      <%=h @assembly.size %>
    </td>

  </tr>

  <tr>

    <td align="left">
      <b>Created by:</b>
    </td> 
    <td>
      <%=h @assembly.creator %>
    </td>
  </tr>

  <tr>
    <td align="left">
      <b>Created on:</b>
    </td> 
    <td>
      <%=h @assembly.created %>
    </td>

  </tr>

  <tr>

    <td align="left">
      <b>Status:</b>
    </td> 
    <td>
      <%=h @assembly.progress %>
    </td>

  </tr>

  <tr>

    <td align="left">
      <b>Comment:</b>
    </td> 
    <td>
      <%=h @assembly.comment %>
    </td>

  </tr>



  <tr>

    <td align="left">
      <b>Number of Projects:</b>
    </td> 
    <td align="left">
      <%= @pcount %>
    </td>

  </tr>

</table>

<%= link_to 'Assemblies', :instance => params[:instance],
                          :organism => params[:organism],
                          :action => 'index' %>

| <%= link_to 'Edit', :instance => params[:instance],
                      :organism => params[:organism],
                      :action => 'edit',
                      :id => @assembly %>

<% if @pcount == "0" %>

| <%= link_to 'Delete', {:instance => params[:instance],
                         :organism => params[:organism],
                         :action => 'destroy',
                         :id => @assembly},
                        {:method => :delete,
                         :confirm => "You are about to delete this assembly." +
                                     "\nAre you sure that you really want to do this?"}
  %>
<% end %>
